<form class="form-horizontal">
    <div class="control-group">
        <label for="slacknotify_bot_token_input" class="control-label">{{ _('bot_token') }}</label>
        <div class="controls">
            <input id="slacknotify_bot_token_input" type="text" class="input-block-level" data-bind="value: settings.plugins.SlackNotify.bot_token">
        </div>
        <label for="slacknotify_channel_id_input" class="control-label">{{ _('channel_id') }}</label>
        <div class="controls">
            <input id="slacknotify_channel_id_input" type="text" class="input-block-level" data-bind="value: settings.plugins.SlackNotify.channel_id">
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.SlackNotify.send_started"> Send print started notifications
            </label>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.SlackNotify.send_cancelled"> Send print cancelled notifications
            </label>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.SlackNotify.send_failed"> Send print failed notifications
            </label>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.SlackNotify.send_done"> Send print finished notifications
            </label>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: settings.plugins.SlackNotify.send_timelapse"> Send timelapse video after rendering
            </label>
        </div>
    </div>
</form>